* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: "Source Sans 3";
    color:#FFC145;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1a161b;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

h1{
    font-size: 100px;
    text-align: center;
    margin: 20px;
}
